<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
        <add name="MVPTema3.Properties.Settings.MVP_DBConnectionString"
            connectionString="Data Source=DESKTOP-CSGC1EP\SQLEXPRESS;Initial Catalog=MVP_DB;Persist Security Info=True;User ID=root;Password=root"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  <appSettings>
    <add key="maximumAbsences" value="2" />
  </appSettings>
</configuration>